mat-tooltip-component {
  .mat-tooltip {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    max-width: 487px;
    white-space: pre-line;
  }
}
