@import "../variables/trilogy.color-palette";

$mat-form-field-bg: rgba(color("gray800"), 0.06) !default;
$mat-form-field-radius: 4px !default;

mat-form-field {
  &[floatLabel="never"] {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;

    .mat-icon {
      color: color("black");
      font-size: 24px;
      margin-right: 8px;
    }
  }

  .mat-form-field-underline {
    bottom: 0;
  }

  &.mat-form-field-appearance-fill {
    .mat-form-field-flex {
      align-items: center;
      height: 38px;
      padding: 7px 8px;
    }

    .mat-form-field-infix {
      border: 0;
      padding: 0;
    }

    .mat-form-field-label.mat-form-field-label.mat-form-field-label {
      line-height: 38px;
      top: -9px;
      margin-top: 0;
      transform: none;
      width: initial;
    }

    .mat-select-arrow-wrapper {
      transform: none;
    }

    .mat-form-field-underline {
      transform: none;
    }
  }

  .mat-form-field-label-wrapper {
    overflow: inherit;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .mat-form-field-type-mat-select .mat-form-field-label {
    color: rgba(color("black"), 0.54);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    top: 0;
    margin-top: 0;
  }

  mat-select-trigger,
  mat-label {
    display: flex;
    align-items: center;
  }
}
