<h2 class="card__heading">
  {{CONSTANTS[cardType].cardHeading}}
  <span class="card__description">{{CONSTANTS[cardType].cardDescription}}: {{cardPercent | percent}}</span>
</h2>
<div class="card__table">
  <div class="card__header">
    <h3 class="card__header-text card__text--time-line">{{CONSTANTS[cardType].col01}}</h3>
    <h3 class="card__header-text card__text--speaker">{{CONSTANTS[cardType].col02}}</h3>
    <h3 class="card__header-text card__text--sentence">{{CONSTANTS[cardType].col03}}</h3>
  </div>
</div>
<div class="card__table card__table--scroll">
  <div class="card__body" *ngIf="call">
    <div class="card__body-row" *ngFor="let script of call[cardSide]">
      <div class="card__body-col card__text--time-line">
        <span *ngIf="cardSide === 'transcript'">{{ script.timeFrom | minuteSecond }}</span>
        <span *ngIf="cardSide === 'script'">{{ script.order + 1 }}</span>
      </div>
      <div class="card__body-col card__text--speaker">
        <span *ngIf="cardSide === 'transcript'">{{ call.getSpeaker(script.channel) | nameSplit }}</span>
        <span *ngIf="cardSide === 'script'">Rep:</span>
      </div>
      <div class="card__body-col card__text--sentence" [matTooltip]="script | similarityMatchTooltip"
        matTooltipPosition="above" [matTooltipDisabled]="tooltipDisabled(script)"
        [ngClass]="{ highlight: highlighted(script), hover: script.hovered }"
        (mouseenter)="handleMouseEnter(cardSide, cardOpposite, script.order, highlighted(script))"
        (mouseleave)="handleMouseLeave(cardOpposite)">
        {{ script.sentence }}
      </div>
    </div>
  </div>
</div>
