@import "../../../../core/theming/variables/trilogy.color-palette";
@import "../../../../core/theming/variables/trilogy.mq";

:host {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 3px 3px rgba(color("black"), 0.2);
  flex-grow: 1;

  @include mq($until: tablet) {
    max-width: 100%;
  }

  @include mq($from: tablet) {
    max-width: calc(50% - 12px);
  }
}

.card__heading {
  color: rgba(color("black"), 0.87);
  background-color: color("gray300");
  border-bottom: 1px solid rgba(color("black"), 0.12);
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  padding: 8px 14px 4px 24px;
  margin: 0;

  span {
    font-weight: normal;
  }
}

.card__table {
  border-radius: 0 0 4px 4px;
  padding: 0 24px;

  &.card__table--scroll {
    overflow-y: auto;
    padding-right: 12px;
    margin-right: 11px;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: color("gray500");
      border-radius: 3px;
    }
  }

  .card__header,
  .card__body {
    display: flex;
  }

  .card__header {
    border-bottom: 1px solid rgba(color("black"), 0.12);
    padding: 22px 0 7px;
    gap: 8px;
  }

  .card__header-text {
    color: rgba(color("black"), 0.87);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

  .card__text--time-line {
    width: 63px;
  }

  .card__text--speaker {
    width: 76px;
  }

  .card__text--sentence {
    width: calc(100% - 155px);
  }

  .card__body {
    flex-direction: column;
    gap: 16px;
    padding: 12px 0;
  }

  .card__body-row {
    display: flex;
    gap: 8px;
  }

  .card__body-col {
    color: rgba(color("black"), 0.87);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    &.highlight {
      position: relative;

      &::before {
        content: "";
        background: rgba(color("gray700"), 0.2);
        position: absolute;
        top: 0;
        right: -8px;
        bottom: 0;
        left: -8px;
      }

      &:hover,
      &.hover {
        &::before {
          background: rgba(color("gray700"), 0.4);
        }
      }
    }
  }
}
