@import "../../theming/variables/trilogy.color-palette";

:host {
  background-color: color("gray700");
  padding: 11px 32px;

  .max-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
  }

  .title {
    color: color("white");
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.0015em;
  }

  .avatar {
    align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 2rem;
  }
}
