<ng-template #subHeader>
  <div class="flex">
    <div class="selects">
      <mat-form-field class="select fixed-size--small" appearance="fill">
        <mat-label *ngIf="!selectedAgent">
          <mat-icon aria-hidden="false" aria-label="Supervised user circle icon">supervised_user_circle</mat-icon>
          Agent
        </mat-label>
        <mat-select [(ngModel)]="selectedAgent" (ngModelChange)="selectAgent()" name="agent">
          <mat-select-trigger>
            <mat-icon aria-hidden="false" aria-label="Supervised user circle icon">supervised_user_circle</mat-icon>
            <span *ngIf="selectedAgent">
              {{selectedAgent.fullName}}
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let agent of agents.agents$ | async" [value]="agent">{{agent.fullName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select fixed-size--large" appearance="fill">
        <mat-label *ngIf="!selectedCall">
          <mat-icon aria-hidden="false" aria-label="Call icon">call</mat-icon>
          Call
        </mat-label>
        <mat-select [(ngModel)]="selectedCall" (ngModelChange)="selectCall()" name="call">
          <mat-select-trigger>
            <mat-icon aria-hidden="false" aria-label="Call icon">call</mat-icon>
            <span *ngIf="selectedCall">
              {{selectedCall.startTime | date:'dd.m.yyyy'}} - {{selectedCall.customer?.speakerName}}
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let call of calls.activeAgentCalls$ | async" [value]="call">
            {{call.startTime | date:'dd.m.yyyy'}} - {{call.customer?.speakerName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="sub-header__match-sensitivity" *ngIf="call">
      MATCHING SENSITIVITY

      <mat-slider [(ngModel)]="selectedSensitivity" [value]="calls.matchingPercentage$ | async"
        (change)="calls.setMatchingPercentage(selectedSensitivity)" tickInterval=".01" step=".01" min="0" max="1"
        aria-label="percentage"></mat-slider>

      {{selectedSensitivity | percent}}
    </div>
  </div>
</ng-template>

<section class="content" *ngIf="call">
  <app-analyzer-card [selectedSensitivity]="selectedSensitivity" cardType="realEnum" [cardPercent]="realPercent"
    [call]="call" cardSide="transcript" cardOpposite="script"></app-analyzer-card>

  <app-analyzer-card [selectedSensitivity]="selectedSensitivity" cardType="expectedEnum" [cardPercent]="expectedPercent"
    [call]="call" cardSide="script" cardOpposite="transcript"></app-analyzer-card>
</section>

<section class="content empty-state" *ngIf="!call">
  <img src="/assets/img/pending-state.png" />
  <h1>
    Selection pending
  </h1>
  <p>
    Select a call from top menu and a transcript analysis will be shown here
  </p>
</section>