@import "../../../core/theming/variables/trilogy.color-palette";
@import "../../../core/theming/variables/trilogy.mq";

:host {
  height: 100%;
  max-height: calc(100% - 54px - 66px);
  max-width: 1440px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .selects {
    display: flex;

    label {
      margin-right: 0.5rem;
    }
  }

  .fixed-size--small {
    max-width: 172px;
    width: 100%;
  }

  .fixed-size--large {
    max-width: 316px;
    width: 100%;
  }

  .sub-header__match-sensitivity {
    display: flex;
    align-items: center;

    mat-slider {
      max-width: 406px;
      width: 100%;
    }
  }

  @include mq($until: desktop) {
    flex-direction: column;

    .selects,
    .sub-header__match-sensitivity {
      gap: 8px;
      width: 100%;
    }
  }

  @include mq($from: desktop) {
    .selects {
      gap: 16px;
      width: 50%;
    }

    .sub-header__match-sensitivity {
      justify-content: flex-end;
      gap: 16px;
      width: 50%;
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  padding: 32px;

  &.empty-state {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    height: 100%;
    padding: 2rem;
    margin: 0;
  }

  h1 {
    color: rgba(color("black"), 0.87);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.0018em;
    margin: 32px 0 0;
    text-align: center;
  }

  p {
    color: rgba(color("black"), 0.87);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 20px 0 0;
    max-width: 332px;
    text-align: center;
  }

  @include mq($until: tablet) {
    flex-direction: column;
    gap: 20px;
  }
}
